{% extends 'base.html.twig' %}
{% block body %}
	<div class="jumbotron text-center mt-4">
		<h3>
			hello les gens</h3>
	</div>
	<div class="container">
		<h3>vos derniers biens</h3>
		<div class="row-flex">
	{% for property in properties %}
		<div class="col-3 d-inline-block">
			<div class="card m-3">
				{% if property.imageName %}
				<img src="{{vich_uploader_asset(property,'imageFile') | imagine_filter('thumbail')}}" class="card-img-top" alt="...">
				{%else%}
				<img src="{{ 'images/property/christian-6483d09f9c58d831968382.jpg' | imagine_filter('thumbail')}}" class="card-img-top" alt="...">
				{% endif %}
		
				<div class="card-body">
					<div class="card-title">
						<h5><a href="{{path('property.show',{id : property.id, slug: property.slug })}}">{{property.title}}</a></h5>
					</div>
					<div class="card-text">
						<p><span class="fw-bold">{{property.surface}}m2</span>  {{property.city}} BP:{{property.post}}</p>
					</div>
					<div class="text-primary fw-bold p-2 fs-2">{{property.formattedprice()}}$</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
