{% extends 'base.html.twig' %}
{% block body %}
  {# total items count #}
  {% if (form is defined) %}
  <div class="jumbotron mt-5 ">
    <div class="container">
      <div class="form-row">
        {{form_start(form)}}
        <div class="col d-inline-block">
          {{form_row(form.minSurface)}}
        </div>
        <div class="col d-inline-block">
          {{form_row(form.maxPrice)}}
        </div>
        <button class=" col btn btn-primary">search</button>
        {{form_end(form)}}
       </div>
    </div>
    </div>
  {% endif %}
  {% do pagination.setTemplate('@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') %}
<div class="container">
  <h3 class="mt-3">vos biens</h3>
      <div class="row-flex">
        {% for property in pagination %}
          <div class="col-3 d-inline-block">
            <div class="card m-1">
              <div class="card-body">
                <div class="card-title">
                  <h5><a href="{{path('property.show',{id : property.id, slug: property.slug })}}">{{property.title}}</a></h5>
                </div>
                <div class="card-text">
                  <p><span class="fw-bold">{{property.surface}}m2</span>  {{property.city}} BP:{{property.post}}</p>
                </div>
                <div class="text-primary fw-bold p-2 fs-2">{{property.formattedprice()}}$</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
</div>
{# display navigation #}
<div class="pagination">
  {{ knp_pagination_render(pagination)}}
</div>
{% endblock body %}